@tailwind base;
@tailwind components;
@tailwind utilities;

.lo{
  background-image: url('./Assets/des5.jpg');
  /* width: 100%;
  height:100% ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: absolute; */

}